<% provide(:title, "Comments") %>
<h1>Comment</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% @posts.each do |p|%>
    <ul>
    <li> Comment: <%= p.body %>,  </li>
    <% if @logged_in %>
     Written by:    <%= p.user.name %>,
    <% end %>
    </ul>
    <% end%>
  </div>
</div>